

   <marquee bgcolor="#00008B" behavior="scroll" direction="right">
     <img src="https://lh3.ggpht.com/Vn9sIUPcCVihrxMATWR_MjCIFuc5quCw-R3UN8Rmoze7rgaBhHdmF2RqjX3x28EJoQ=w300" title="C_Temperaturas." width="100" height="100">
     <h1> Convertidor de Temperaturas </h1>
     <img src="https://lh3.ggpht.com/Vn9sIUPcCVihrxMATWR_MjCIFuc5quCw-R3UN8Rmoze7rgaBhHdmF2RqjX3x28EJoQ=w300" title="C_Temperaturas." width="100" height="100">
   </marquee>

   <p Align="center">Conviertidor de grados celcius a grados fahrenheit y de grados fahrenheit a grados celcius</p>
   </br>
    <div>
        <form action="/" method="post">
        <table>
          <tr>
           <th>> Introduzca Temperatura (ejemplos: 32F, 45C, -8E-25C, -2.5f, 2.3e5F):</th>
           <td><input type="text" name= "ini_temp" placeholder="32F o 7.5e2c" size="50" autofocus onchange=""/></td>
          </tr>
          <tr>
           <th>> Temperatura convertida:</th>
           <td><span class="output" id="converted"></span></td>
          </tr>
        </table>
    </div>
    <div id="footer">
     <hr>
      <P Align="center">
        Grado de Ingeniería Informática -- Asignatura: Sistemas y Tecnologías Web </p>
      <P Align="center">
        Alumno: Borja Barrera Villagrasa </p>

    </div>